body{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo {
    height: 100px;
    width: 100px;
    margin: 0 auto;
   

}
.header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #1f2937;
    padding: 10px;
}

.hero {
    display: flex;
    color: white;
    font-size: 24px;
    background-color: #1f2937;
    padding: 80px 0;
    align-items: center;
    gap: 200px;
    
}

.hero-container {
  max-width: 1200px;       
  margin: 0 auto;           
  display: flex;
  gap: 150px;
  align-items: center;
  padding: 0 20px;    
  
}

.left_content{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex: 1;

}

.left_content button{
    background-color: #3882f6;
    color: white;
    font-size: 20px;
    padding: 20px;
    border-radius: 15px;
    font-weight: bold;
 
    
}

.right_content {
    display: flex;
    align-items: flex-end;
    flex: 1;
    
}

.vaglio{
 height: 400px;
 width: 450px;
}



.nav {
    display: flex;
    justify-content: flex-start;
    align-items:center; 

}



ul {
    display: flex;
    gap: 18px; 
    margin-left: auto
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.piece img {
    width: 150px;
    height: 150px;
        border: solid #3882f6;
        border-radius: 15%;

}


.content_2 {
   text-align: center;
   margin: 30px;

}



.boxes {
    display: flex;
    justify-content: center;
    gap: 10px;


}

.piece {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
     padding: 10px;
}

.content_3 {
    background-color: #E5E7EB;
  padding: 90px 0;

}

.background_1 {
max-width: 900px;
  margin: 0 auto;
  font-size: 36px;
  font-weight: 300;
  color: #1f2937;

}

.author {
    text-align: end;
    padding-right: 30px;
}

.content_4 {
    display: flex;
    justify-content: center;
    padding: 80px 0;

 
}

.bigbox {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3882f6;
    padding: 30px 40px;
    max-width: 900px ;
    margin: auto;
    gap: 30px;
    width: 100%;
    
}

.containervert {
    display: flex;
    flex-direction: column;
 
}

.containervert p{
    margin: 0px;
}

.cta_button,
.cta_text {
    font-size:18px ;
    color: white;

}

.cta_title {
    font-weight: bold;
    color: white;
    font-size: 22px;
}

.cta_button {
background-color: none;
display: flex;
flex-direction: column;
justify-content: center;
margin: auto;
background-color: #3882f6;
border: solid white ;
border-radius: 10px;
font-weight: bold;
padding: 10px 20px;

}

.footer {
    background-color: #1f2937;
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 25px 50px;
}