body{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo {
    height: 100px;
    width: 100px;
   

}
.header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #1f2937;
    padding: 10px;
}

.hero {
    display: flex;
    color: white;
    font-size: 24px;
    background-color: #1f2937;
    padding: 80px 0;
    align-items: center;
    gap: 200px;
    
}

.hero-container {
  max-width: 1200px;       
  margin: 0 auto;           
  display: flex;
  gap: 150px;
  align-items: center;
  padding: 0 20px;    
  
}

.left_content{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex: 1;

}

.left_content button{
    background-color: #3882f6;
    color: white;
 
    
}

.right_content {
    display: flex;
    align-items: flex-end;
    flex: 1;
    
}

.vaglio{
 height: 400px;
 width: 450px;
}



.nav {
    display: flex;
    justify-content: flex-start;
    align-items:center;   
}



ul {
    display: flex;
    gap: 18px; 
    margin-left: auto
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

